:root {
    --blue-black: #1f2937;
    --off-white: #f9faf8;
    --dull-white: #e5e7eb;
    --button-blue: #3882f6;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--blue-black);
    height: 64px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .logo {
    font-weight: 700;
}

.header ul {
    max-width: 900px;
    width: 90vw;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 18px;
}

.header ul li a {
    text-decoration: none;
    color: var(--dull-white);
}

.push-right {
    margin-left: auto;
}

.hero {
    background-color: var(--blue-black);
    display: flex;
    justify-content: center;
}

.hero-components-wrapper {
    width: 900px;
    padding: 30px 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.hero-block {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
}

.hero-block,
.hero-image {
    max-width: 444px;
}

h1 {
    color: var(--off-white);
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero p {
    color: var(--dull-white);
    margin: 0;
}

.hero-block button {
    margin-top: 9px;
    background-color: var(--button-blue);
    color: var(--off-white);
    padding: 6px 18px;
    border-radius: 6px;
    border: none;
    align-self: flex-start;
}

.hero-image {
    background-color: var(--dull-white);
    width: 400px;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin: 36px 0;
}

.items {
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-bottom: 48px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.graphic {
    height: 150px;
    width: 150px;
    border: solid 4px var(--button-blue);
    border-radius: 18px;
}

.description {
    width: 150px;
    text-align: center;
}

.quote {
    display: flex;
}

.footer {
    height: 64px;
    background-color: var(--blue-black);
    color: var(--dull-white);
    display: flex;
    align-items: center;
    justify-content: center;
}